:root {
  --error-opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
  height: 100%;
  font-weight: 200;
  overflow: hidden;
  font-size: 1em;
}

body {
  background-color: #f6f6f6;
  height: 100%;
}

main {
  /* display: flex;
  flex-direction: column; */
}

.hide-view {
  display: none;
  scale: 0;
  transition: all ease 0.3s;
}

.display {
  transform: translate3d(0, 0, 0) !important;
}

.mechanic-btn-container {
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}

.mechanic-list--content {
  margin: auto;
  padding: 1em 2em;
  width: 95%;
  max-width: 302px;
  position: relative;
}

section {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  -webkit-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  overflow: scroll;
}

.section-header {
  margin: 0.5em auto 1em auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5em;
  box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.1), 0px -12px 16px 0 #fff;
  width: fit-content;
  min-width: 10em;
  border-radius: 5em;
}

.mechanics-view,
.mechanics-view ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

mechanic-button {
  position: relative;
}

.mech-btn {
  margin: 0.4em 0;
  width: 100%;
  background-color: #fafafafa;
  border: 2px solid #d1d1d1;
  border-radius: 1.5em;
  /* box-shadow: 0 1px 3px #464646; */
  padding: 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all ease-in 10ms, box-shadow ease-out 30ms;
}

.mech-btn:active {
  box-shadow: inset 0 3px 3px var(--mech-btn-color);
  border: 2px solid var(--mech-btn-color);
}

.mech-btn:hover {
  border: 2px solid var(--mech-btn-color);
}

/* .mech-btn::before {
  content: "0";
  position: absolute;
  left: 0;
  top: -14px;
  border: 1px solid #433c3c;
  border-radius: 0.5em 0.5em 0.3em 0.5em;
  background-color: var(--mech-btn-color);
  margin: 0;
  padding: 0.5em;
  width: 89%;
  font-size: 1.25rem;
  z-index: -1;
  cursor: pointer;
} */

.job-list-container {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

.job-list--content {
  margin: auto;
  padding-top: 1em;
  width: 95%;
  max-width: 500px;
  position: relative;
}

.jobs-view {
  list-style: none;
  padding: 0;
}

.job-card {
  list-style: none;
  margin: 1em 0;
  padding-bottom: 0.75em;
  box-shadow: 0 6px 7px #4646462e;
  width: 100%;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 0.5em;
  background-color: #ffffff;
  cursor: pointer;
}

.card-row {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 0.3em 0.3em 0 0.3em;
  row-gap: 0.3em;
  overflow: hidden;
}

.job-detail-container {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}

.job-detail--content {
  margin: auto;
  padding-top: 1em;
  width: 95%;
  max-width: 500px;
  position: relative;
}

.job-detail--header {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 0.3em;
  width: 95%;
  margin: auto;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #d1d1d1;
}

.job-detail--row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.85rem;
  padding-bottom: 0.3em;
  overflow: hidden;
}

.job-detail--body {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  padding-top: 0.5em;
}

.booking-comments {
  white-space: pre-wrap;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 0.85em;
  line-height: 1.5;
  margin-top: 0.5em;
  min-height: 3em;
}

.job-detail--package {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  padding-top: 0.5em;
}

.job-detail--package > span:nth-child(1) {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  padding-bottom: 0.5em;
}

.job-detail--package ul {
  list-style: none;
  padding-top: 0.3em;
}

.job-detail--package .service-item {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  font-size: 0.85rem;
  padding: 0.3em 0;
  overflow: hidden;
}

.job-detail--package #total {
  border-top: 1px solid #d1d1d1;
}

.job-detail-view {
  box-shadow: 0 6px 7px #4646462e;
  width: 100%;
  border-radius: 0.5em;
  background-color: #f9f9f9;
  display: block;
  padding: 1em 0 2em 0;
}

.back-button {
  position: absolute;
  left: 0;
  top: 0.75em;
  padding: 0;
  background-image: url(../assets/arrow_back.svg);
  background-position: 0.33em 0em;
  background-color: transparent;
  border-radius: 2em;
  border: 3px solid transparent;
  box-shadow: 0 7px 10px #4646462e;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.25em;
  height: 2.25em;
  font-size: 1em;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.back-button:active {
  box-shadow: none;
}

.refresh-button {
  position: absolute;
  right: 0em;
  top: 0.75em;
  padding: 0;
  border-radius: 2em;
  background-image: url(../assets/refresh.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  box-shadow: 0 7px 10px #4646462e;
  width: 2.25em;
  height: 2.25em;
  font-size: 1em;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.refresh-button:active {
  box-shadow: none;
}

.login-form-container {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}

.login-form--content {
  margin: 20vh auto auto auto;
  width: 85%;
  max-width: 350px;
  position: relative;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  position: relative;
}

.login-field {
  background-color: transparent;
  margin: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  font-size: 1rem;
}

.login-field:focus {
  background-color: #fff;
  margin: 1em;
  border: none;
  outline: none;
  box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.1), 0px -12px 16px 0 #fff;
  transition: all ease 0.3s;
}

.login-footer {
  display: flex;
  padding-top: 0.75em;
}

.login-footer-text {
  margin: auto;
  font-size: 0.65rem;
}

.login-btn {
  margin: 2em 2em 1em 2em;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.25rem;
  box-shadow: 0 1px 3px #464646;
  border: 1px solid #2e6da4;
  border-radius: 1.5em;
  background-color: #337ab7;
  color: #fff;
  transition: box-shadow ease-in 0.1s, box-shadow ease-out 0.3s;
}

.login-btn:active {
  box-shadow: inset 0 3px 3px #00000078;
}

.login-view-btn {
  background-image: url(../assets/visibility_off.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  background-size: contain;
  cursor: pointer;
  top: 6.75em;
  right: 1.5em;
  height: 2em;
  width: 2em;
}

.login-error {
  position: absolute;
  opacity: var(--error-opacity);
  top: 8.25em;
  width: 90%;
  text-align: center;
  color: #bc0000;
  border-radius: 1em;
  box-shadow: 0px 12px 16px 0 #bc000040, 0px -12px 16px 0 #fff;
  padding: 0.3em;
  margin: auto;
  left: 0.75em;
  transition: opacity ease-in-out 0.3s;
}

.view-pwd {
  background-image: url(../assets/visibility.svg);
}

.hide-pwd {
  background-image: url(../assets/visibility_off.svg);
}

.view-img {
  height: 25px;
  width: 25px;
}
